include README.md
include requirements.txt

recursive-include heart_neural_network *.py
recursive-include heart_neural_network *.csv
recursive-include heart_neural_network *.joblib

recursive-include website *.py
recursive-include website/templates *.html
recursive-include website/static * 